@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cosmic-dark text-white font-sans antialiased;
    background-color: #121212;
  }
}

/* Custom Scrollbar for dashboard dark aesthetic */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #2C2C2C;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6200EE;
}
